<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
	integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
	integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
	integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
	crossorigin="anonymous"></script>
<style>
body {
	padding-top: 50px;
}

table {
	border-collapse: collapse;
	border-spacing: 5px;
}

td {
	border: 1px gray solid;
}
</style>


</head>

<body>
	<div class="container">
		<div class="text-start" style="padding: 30px;">
			<button type="button" class="btn btn-default">
				ログアウト<span class="glyphicon glyphicon-chevron-right"></span>
			</button>
		</div>

		<div class="row justify-content-center">
			<h3>イベント一覧</h3>
		</div>
		<form action="#" th:action="@{/admin}" method="post">
			<div style="height: 300px; overflow: auto; border: 1px solid #aaa; padding: 10px;">
				<div class="table-responsive">
					<!--div style="height:auto; width: auto; overflow-y:scroll;"-->
					<table>
						<tr>
							<th>✓</th>
							<th>ID</th>
							<th>title</th>
						</tr>
						<tr th:each="customer:${customers}">
							<td><input type="radio" name="selectedEvents"  th:value="${customer.id}" /></td>
							<td th:text="${customer.id}">00</td>
							<td th:text="${customer.name}">title</td>
						</tr>
					</table>
				</div>
			</div>

			<br>
			<div class="row justify-content-center">
				<div class="btn-toolbar">
					<div class="btn-group">
						<div class="text-center" style="padding: 30px;">
							<button name="createNew" type="submit" class="btn btn-default btn-lg">
								new <span class="glyphicon glyphicon-chevron-right"></span>
							</button>
						</div>
						<div class="text-center" style="padding: 30px;">
							<button name="update" type="submit" class="btn btn-default btn-lg">
								update <span class="glyphicon glyphicon-chevron-right"></span>
							</button>
						</div>
						<div class="text-center" style="padding: 30px;">
							<button name="delete" type="submit" class="btn btn-default btn-lg" >
								delete <span class="glyphicon glyphicon-chevron-right"></span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</body>

</html>
