<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:replace="layout/header :: layout_header(~{::title})">
	<meta charset="utf-8">
	<title>イベント一覧</title>
	<style>
		body {

			padding-top: 50px;
		}

		table {
			border-collapse: collapse;
			border-spacing: 5px;
		}

		td {
			border: 1px gray solid;
		}
	</style>
</head>

<body>

	<!-- サイドメニューの表示 -->
	<div th:replace="layout/sidemenu :: sidemenu">

	</div>
	<div class="container">
		<!-- <div class="text-start" style="padding: 30px;">
			<button type="button" class="btn btn-default">
				ログアウト<span class="glyphicon glyphicon-chevron-right"></span>
			</button>
		</div> -->

		<div class="row justify-content-center">
			<h3>イベント一覧</h3>
		</div>
		<form action="#" th:action="@{/admin}" method="post">
			<div style="height: 300px; overflow: auto; border: 1px solid #aaa; padding: 10px;">
				<div class="table-responsive">
					<!--div style="height:auto; width: auto; overflow-y:scroll;"-->
					<table>
						<tr>
							<th>✓</th>
							<th>ID</th>
							<th>title</th>
						</tr>
						<tr th:each="customer:${customers}">
							<td><input type="radio" name="selectedEvents"  th:value="${customer.id}" /></td>
							<td th:text="${customer.id}">00</td>
							<td th:text="${customer.name}">title</td>
						</tr>
					</table>
				</div>
			</div>

			<br>
			<div class="row justify-content-center">
				<div class="btn-toolbar">
					<div class="btn-group">
						<div class="text-center" style="padding: 30px;">
							<button name="createNew" type="submit" class="btn btn-default btn-lg">
								new <span class="glyphicon glyphicon-chevron-right"></span>
							</button>
						</div>
						<div class="text-center" style="padding: 30px;">
							<button name="update" type="submit" class="btn btn-default btn-lg">
								update <span class="glyphicon glyphicon-chevron-right"></span>
							</button>
						</div>
						<div class="text-center" style="padding: 30px;">
							<button name="delete" type="submit" class="btn btn-default btn-lg" >
								delete <span class="glyphicon glyphicon-chevron-right"></span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</body>

</html>
