<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<title>新規登録</title>
<link href="../css/bootstrap.min.css" rel="stylesheet" media="screen">
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
<style>
body {
	padding-top: 50px;
}
</style>
</head>

<body>


	<form method="POST" th:action="@{/signup}" th:object="${signupForm}">

		<div class="p-3 mb-2 bg-warning text-black">
			<div class="container-fluid">
				<div class="col-xs-12 col-lg-12 col-xs-6">
					<div class="row justify-content-center">
						<h3>新規登録</h3>
					</div>
					<br>



					<p th:if="${signupError}">
						<em>Username or mail address is already used.</em>
					</p>
					<div class="row justify-content-center">
						<div class="col-sm-2">User Name</div>
						<div class="col-sm-3 form-inline" style="padding: 3px;">
							<input type="text" class="form-control input-sm" id="name"
								placeholder="nickname" name="username" autofocus="autofocus"
								size="30">
							<p>
								<em th:if="${#fields.hasErrors('username')}"
									th:errors="*{username}">Username Error</em>
							</p>
						</div>
					</div>

					<div class="row justify-content-center">
						<div class="col-sm-2">Email*</div>
						<div class="col-sm-3 form-inline" style="padding: 3px;">
							<p>
								<em th:if="${#fields.hasErrors('mailAddress')}"
									th:errors="*{mailAddress}">Mail Address Error</em>
							</p>
							<input type="text" class="form-control input-sm" id="email"
								placeholder="mail@sample.com*" name="emailAddress" size="20">
						</div>
					</div>
					<p>
						<em th:if="${#fields.hasErrors('password')}"
							th:errors="*{password}">Password Error</em>
					</p>
					<div class="row justify-content-center">
						<div class="col-sm-2">Password*</div>
						<div class="col-sm-3 form-inline" style="padding: 3px;">
							<input type="text" class="form-control input-sm" id="password"
								placeholder="password*" name="password" size="20">
						</div>
					</div>
					<!-- <div class="row justify-content-center">
						<div class="col-sm-2">Mation password*</div>
						<div class="col-sm-3 form-inline" style="padding: 3px;">
							<input type="text" class="form-control input-sm" id="password"
								placeholder="mation password*" name="password" size="20">
						</div> -->
				</div>

				<div class="row justify-content-center">
					<div class="col-sm-2">Sex</div>
					<div class="form-group">

						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio"
								name="inlineRadioOptions" id="inlineRadioman" value="man">
							<label class="form-check-label">man</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio"
								name="inlineRadioOptions" id="inlineRadiowoman" value="woman">
							<label class="form-check-label">woman</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio"
								name="inlineRadioOptions" id="inlineRadioother" value="other">
							<label class="form-check-label">other</label>
						</div>

					</div>
				</div>
			</div>
		</div>


		<div class="text-center" style="padding: 30px;">
			<input type="submit" value="登録ｗｗｗ">
			<!-- <button type="button" class="btn btn-default">
					 <span class="glyphicon glyphicon-chevron-right"></span>
				</button> -->
		</div>
	</form>

	<p>
		<a th:href="@{/login}">Login</a>
	</p>

	<p>
		<a th:href="@{/}">Back to index</a>
	</p>
	
</body>

</html>
