<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">    <!-- a -->
<head>
  <meta charset="UTF-8"/>
  <title>顧客一覧</title>
  <style type="text/css">
    .list th {
      background-color: #cccccc;
      padding: 5px;
    }
    .list td {
      padding: 5px;
    }
  </style>
</head>
<body>
  <table class="list">
    <tr>
      <th>ID</th>
      <th>title</th>
      <th>概要</th>
      <th>住所</th>
      <th>コスト</th>
      <th>開始日</th>
      <th>終了日</th>
      <th>開始時間</th>
      <th>イベントURL</th>
    </tr>
    <tr th:each="customer:${customers}">    <!-- b -->
      <td th:text="${customer.id}">00</td>    <!-- d -->
      <td th:text="${customer.name}">title</td>
      <td th:text="${customer.summary}">概要</td>
      <td th:text="${customer.address}">住所</td>
      <td th:text="${customer.cost}">cost</td>
      <td th:text="${customer.start_on}"></td>
      <td th:text="${customer.end_on}"></td>
      <td th:text="${customer.start_at}"></td>
      <td th:text="${customer.event_url}"></td>
    </tr>
  </table>
</body>
</html>